In [1]:
# from google.colab import drive
# drive.mount('/content/drive')

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
import category_encoders as ce
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression, LinearRegression
import pickle
import random

In [4]:
df_2017 = pd.read_csv(r'C:\Users\Sarmen\PycharmProjects\HelloWorld1\Lambda_Assignments\Unit 3 Sprint 4 Build Week\Chosen Sets\2017\accident.csv')
# url = 'https://raw.githubusercontent.com/Nov05/DS-Unit-3-Sprint-4-Build-Week-Safe-Routes/master/datasets/FARS2017NationalCSV/accident.csv'
# df_2017 = pd.read_csv(url)

In [5]:
pd.set_option('display.max_columns', None)

In [6]:
df_2017[(df_2017['STATE'] == 6)].shape

(3304, 52)

In [7]:
df_2016 = pd.read_csv(r'C:\Users\Sarmen\PycharmProjects\HelloWorld1\Lambda_Assignments\Unit 3 Sprint 4 Build Week\Chosen Sets\2016\accident.csv')
df_2015 = pd.read_csv(r'C:\Users\Sarmen\PycharmProjects\HelloWorld1\Lambda_Assignments\Unit 3 Sprint 4 Build Week\Chosen Sets\2015\accident.csv')

In [8]:
df_2017.shape, df_2016.shape, df_2015.shape

((34247, 52), (34748, 52), (32538, 52))

In [9]:
df_2017.columns

Index(['STATE', 'ST_CASE', 'VE_TOTAL', 'VE_FORMS', 'PVH_INVL', 'PEDS',
       'PERNOTMVIT', 'PERMVIT', 'PERSONS', 'COUNTY', 'CITY', 'DAY', 'MONTH',
       'YEAR', 'DAY_WEEK', 'HOUR', 'MINUTE', 'NHS', 'RUR_URB', 'FUNC_SYS',
       'RD_OWNER', 'ROUTE', 'TWAY_ID', 'TWAY_ID2', 'MILEPT', 'LATITUDE',
       'LONGITUD', 'SP_JUR', 'HARM_EV', 'MAN_COLL', 'RELJCT1', 'RELJCT2',
       'TYP_INT', 'WRK_ZONE', 'REL_ROAD', 'LGT_COND', 'WEATHER1', 'WEATHER2',
       'WEATHER', 'SCH_BUS', 'RAIL', 'NOT_HOUR', 'NOT_MIN', 'ARR_HOUR',
       'ARR_MIN', 'HOSP_HR', 'HOSP_MN', 'CF1', 'CF2', 'CF3', 'FATALS',
       'DRUNK_DR'],
      dtype='object')

In [10]:
# df_2012.columns

In [11]:
columns = ['YEAR', 'STATE', 'VE_TOTAL', 'PERMVIT','COUNTY', 'CITY', 'NHS', 'RUR_URB', 'FUNC_SYS', 'LATITUDE', 'LONGITUD', 'HARM_EV', 'MAN_COLL', 'RELJCT2', 'TYP_INT',
           'WRK_ZONE', 'LGT_COND', 'WEATHER1', 'WEATHER2','SCH_BUS', 'RAIL', 'CF1', 'CF2', 'CF3', 'ROUTE', 'TWAY_ID', 'TWAY_ID2']
df_2017 = df_2017[columns]

In [12]:
df_2016 = df_2016[columns]
df_2015 = df_2015[columns]
# df_2014 = df_2014[columns]
# df_2013 = df_2013[columns]
# df_2012 = df_2012[columns]

In [13]:
df_2017.shape, df_2016.shape, df_2015.shape

((34247, 27), (34748, 27), (32538, 27))

In [14]:
df_all = pd.concat([df_2017, df_2016, df_2015], axis=0)
# df_all = df_2017

In [15]:
df_all.shape

(101533, 27)

In [16]:
df_all.select_dtypes(include=np.number).columns

Index(['YEAR', 'STATE', 'VE_TOTAL', 'PERMVIT', 'COUNTY', 'CITY', 'NHS',
       'RUR_URB', 'FUNC_SYS', 'LATITUDE', 'LONGITUD', 'HARM_EV', 'MAN_COLL',
       'RELJCT2', 'TYP_INT', 'WRK_ZONE', 'LGT_COND', 'WEATHER1', 'WEATHER2',
       'SCH_BUS', 'CF1', 'CF2', 'CF3', 'ROUTE'],
      dtype='object')

In [17]:
df_all.isnull().sum()

YEAR            0
STATE           0
VE_TOTAL        0
PERMVIT         0
COUNTY          0
CITY            0
NHS             0
RUR_URB         0
FUNC_SYS        0
LATITUDE        0
LONGITUD        0
HARM_EV         0
MAN_COLL        0
RELJCT2         0
TYP_INT         0
WRK_ZONE        0
LGT_COND        0
WEATHER1        0
WEATHER2        0
SCH_BUS         0
RAIL            0
CF1             0
CF2             0
CF3             0
ROUTE           0
TWAY_ID         0
TWAY_ID2    74578
dtype: int64

In [18]:
df_all.head(5)

,YEAR,STATE,VE_TOTAL,PERMVIT,COUNTY,CITY,NHS,RUR_URB,FUNC_SYS,LATITUDE,LONGITUD,HARM_EV,MAN_COLL,RELJCT2,TYP_INT,WRK_ZONE,LGT_COND,WEATHER1,WEATHER2,SCH_BUS,RAIL,CF1,CF2,CF3,ROUTE,TWAY_ID,TWAY_ID2
0,2017,1,1,1,73,330,1,2,1,33.335661,-87.007094,38,0,1,1,0,2,1,0,0,725409J,0,0,0,1,I-459,NaN
1,2017,1,1,1,89,1730,1,2,1,34.661528,-86.786853,1,0,1,1,0,1,1,0,0,0,0,0,0,1,I-565,NaN
2,2017,1,3,3,101,2130,1,2,1,32.366519,-86.145281,12,1,1,1,0,2,1,0,0,0,0,0,0,1,I-85,CHANTILLY PKWY
3,2017,1,1,1,73,350,0,2,4,33.510175,-86.894003,30,0,3,2,0,3,2,0,0,0,20,0,0,6,20TH ST ENSLEY,AVE I
4,2017,1,1,2,13,0,1,1,1,31.947236,-86.556778,35,0,1,1,0,2,2,0,0,0,0,0,0,1,I-65,NaN

In [19]:
df_all['TWAY_ID'].sample().values[0]

'W LELAND RD'

In [20]:
df_all.shape

(101533, 27)

In [21]:
df_all.iloc[0]

YEAR           2017
STATE             1
VE_TOTAL          1
PERMVIT           1
COUNTY           73
CITY            330
NHS               1
RUR_URB           2
FUNC_SYS          1
LATITUDE    33.3357
LONGITUD   -87.0071
HARM_EV          38
MAN_COLL          0
RELJCT2           1
TYP_INT           1
WRK_ZONE          0
LGT_COND          2
WEATHER1          1
WEATHER2          0
SCH_BUS           0
RAIL        725409J
CF1               0
CF2               0
CF3               0
ROUTE             1
TWAY_ID       I-459
TWAY_ID2        NaN
Name: 0, dtype: object

In [22]:
df_all.shape

(101533, 27)

In [23]:
# def row_augument(row):
#     new_row = pickle.loads(pickle.dumps(row))
#     for _ in range(1000):
#         new_datetime = gen_datetime(2015, 2017)
#         condition = (
#             (df_all['DAY']==new_datetime.day) &
#             (df_all['MONTH']==new_datetime.month) &
#             (df_all['YEAR']==new_datetime.year) &
#             (df_all['HOUR']==new_datetime.hour)
#         )
#         if df_all[condition].empty:
#             continue
#         else:
#             break
#     new_row['DAY'] = new_datetime.day
#     new_row['MONTH'] = new_datetime.month
#     new_row['YEAR'] = new_datetime.year
#     new_row['DAY_WEEK'] = new_datetime.weekday()
#     new_row['HOUR'] = new_datetime.hour
#     distance = random.uniform(-0.00001, 0.00001)
#     new_row['LATITUDE'] = row['LATITUDE'] + distance
#     distance = random.uniform(-0.00001, 0.00001)
#     new_row['LONGITUD'] = row['LONGITUD'] + distance
#     return new_row.values
    
# df_noacc = []    
# for _ in range(4):
#     for rid, row in df_all.iterrows():
#         new_row = row_augument(row)
#         df_noacc.append(new_row)
# df_noacc = pd.DataFrame(df_noacc, columns=df_all.columns)
# print(df_noacc.shape)

## MY WORK BELOW

# columns = ['VE_TOTAL', 'PERMVIT', 'NHS', 'RUR_URB', 'FUNC_SYS', 'LATITUDE',
#        'LONGITUD', 'HARM_EV', 'MAN_COLL', 'RELJCT2', 'TYP_INT', 'WRK_ZONE',
#        'LGT_COND', 'WEATHER1', 'WEATHER2', 'SCH_BUS', 'CF1', 'CF2',
#        'CF3', 'ROUTE', 'TWAY_ID', 'TWAY_ID2']

df_year_total_samples = []
df_year_total = df_all['YEAR'].sample(n=1000)
df_year_total_samples.append(df_year_total)
df_yts = pd.Series(df_year_total_samples)

df_ve_total_samples = []
df_ve_total = df_all['VE_TOTAL'].sample(n=1000)
print("df_ve_total.shape:", df_ve_total.shape)
# df_ve_total_samples.append(df_ve_total)
df_ve_total_samples += df_ve_total.to_list()
print("type of df_ve_total_samples", type(df_ve_total_samples))
print(df_ve_total_samples[:10])
df_vts = pd.Series(df_ve_total_samples)
print("df_vts.shape:", df_vts.shape)

# def random_data(df):
#     for col in df:

df_ve_total.shape: (1000,)
type of df_ve_total_samples <class 'list'>
[1, 3, 1, 1, 1, 1, 5, 2, 1, 1]
df_vts.shape: (1000,)

In [24]:
l1 = [0, 1, 10]
l2 = [2, 3, 4]
print(l1 + l2)
import numpy as np
a1 = np.array(l1)
a2 = np.array(l2)
print(a1 + a2)

[0, 1, 10, 2, 3, 4]
[ 2  4 14]

In [25]:
type(df_vts)
print(df_vts.shape)
df_tem = pd.DataFrame(df_vts)
df_tem.shape

(1000,)

(1000, 1)

In [26]:
# df_year_total_samples

In [27]:
df_samples_samples = pd.concat([df_yts, df_vts], axis=0)
# df_all = pd.concat([df_2017, df_2016, df_2015], axis=0)
# df_samples_samples = df_samples_samples.T
df_samples_samples

0      277      2017
24010    2015
9255     2016
1138...
0                                                      1
1                                                      3
2                                                      1
3                                                      1
4                                                      1
5                                                      1
6                                                      5
7                                                      2
8                                                      1
9                                                      1
10                                                     2
11                                                     1
12                                                     1
13                                                     3
14                                                     1
15                                                     1
16                                                     1
17                                                     2
18                                                     1
19                                                     1
20                                                     1
21                                                     1
22                                                     2
23                                                     1
24                                                     1
25                                                     1
26                                                     4
27                                                     1
28                                                     1
                             ...
970                                                    1
971                                                    1
972                                                    1
973                                                    1
974                                                    2
975                                                    1
976                                                    2
977                                                    1
978                                                    1
979                                                    3
980                                                    1
981                                                    1
982                                                    2
983                                                    1
984                                                    2
985                                                    2
986                                                    1
987                                                    1
988                                                    2
989                                                    1
990                                                    3
991                                                    3
992                                                    3
993                                                    1
994                                                    5
995                                                    2
996                                                    2
997                                                    2
998                                                    3
999                                                    1
Length: 1001, dtype: object

In [28]:
# df_ve_total

In [29]:
# df_ve_total_samples

In [30]:
# df_all['COUNTY'].value_counts().sort_index()
df_all.describe()

,YEAR,STATE,VE_TOTAL,PERMVIT,COUNTY,CITY,NHS,RUR_URB,FUNC_SYS,LATITUDE,LONGITUD,HARM_EV,MAN_COLL,RELJCT2,TYP_INT,WRK_ZONE,LGT_COND,WEATHER1,WEATHER2,SCH_BUS,CF1,CF2,CF3,ROUTE
count,101533.000000,101533.000000,101533.00000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000,101533.000000
mean,2016.016832,27.233195,1.56361,2.263569,91.533964,1219.003555,0.473797,1.589217,5.060601,36.855158,-87.038513,18.022091,1.839875,2.203067,1.559069,0.037584,1.890341,6.869038,0.144170,0.002935,1.732806,0.718466,0.618498,3.626890
std,0.810857,16.333139,0.85979,1.866991,95.784543,1896.383184,1.007915,0.801492,10.657124,6.752678,76.948905,14.088004,5.406033,5.048538,4.523633,0.318916,1.141882,20.023370,1.299631,0.054096,8.885556,7.876477,7.750010,1.873797
min,2015.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,19.060100,-174.204181,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2015.000000,12.000000,1.00000,1.000000,31.000000,0.000000,0.000000,1.000000,3.000000,33.086894,-98.084886,8.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,2016.000000,26.000000,1.00000,2.000000,71.000000,0.000000,0.000000,2.000000,4.000000,36.310511,-87.797611,12.000000,0.000000,1.000000,1.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,2017.000000,42.000000,2.00000,3.000000,115.000000,1980.000000,1.000000,2.000000,5.000000,40.534472,-81.450439,30.000000,2.000000,2.000000,1.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
max,2017.000000,56.000000,64.00000,120.000000,999.000000,9999.000000,9.000000,9.000000,99.000000,99.999900,999.999900,99.000000,99.000000,99.000000,99.000000,4.000000,9.000000,99.000000,98.000000,1.000000,99.000000,99.000000,99.000000,9.000000

In [31]:
df_all = df_all[df_all['LONGITUD'] <=100]

In [32]:
df_all.describe()

,YEAR,STATE,VE_TOTAL,PERMVIT,COUNTY,CITY,NHS,RUR_URB,FUNC_SYS,LATITUDE,LONGITUD,HARM_EV,MAN_COLL,RELJCT2,TYP_INT,WRK_ZONE,LGT_COND,WEATHER1,WEATHER2,SCH_BUS,CF1,CF2,CF3,ROUTE
count,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000,101026.000000
mean,2016.015986,27.254053,1.564290,2.264724,91.730772,1216.659098,0.472611,1.588205,5.042029,36.550144,-92.375045,18.003445,1.808683,2.113723,1.467404,0.037664,1.882991,6.722418,0.144458,0.002940,1.729357,0.713252,0.612783,3.622939
std,0.810603,16.335310,0.860201,1.868141,95.789633,1893.435865,1.003062,0.795586,10.572487,5.192567,14.975564,14.020021,5.079983,4.076716,3.385067,0.319175,1.122066,19.704736,1.301406,0.054141,8.856174,7.841375,7.713618,1.868415
min,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,19.060100,-174.204181,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,2015.000000,12.000000,1.000000,1.000000,31.000000,0.000000,0.000000,1.000000,3.000000,33.057740,-98.151858,8.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000
50%,2016.000000,26.000000,1.000000,2.000000,71.000000,0.000000,0.000000,2.000000,4.000000,36.268965,-87.865567,12.000000,0.000000,1.000000,1.000000,0.000000,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000
75%,2017.000000,42.000000,2.000000,3.000000,115.000000,1980.000000,1.000000,2.000000,5.000000,40.469876,-81.516439,30.000000,2.000000,2.000000,1.000000,0.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000
max,2017.000000,56.000000,64.000000,120.000000,840.000000,9999.000000,9.000000,9.000000,99.000000,68.344956,-67.110531,99.000000,99.000000,99.000000,99.000000,4.000000,9.000000,99.000000,98.000000,1.000000,99.000000,99.000000,99.000000,9.000000

In [33]:
df_all['CF3'].value_counts().sort_index()

0     100359
4          1
14         7
15        11
19         5
20         1
23        22
26         1
27         4
99       615
Name: CF3, dtype: int64

In [34]:
import random
year_list = [2017]
permvit_list = [1, 2, 3, 4, 5, 6, 7, 8, 9,
                10, 11, 12, 13, 14, 15, 16,
                17, 19, 20, 22, 23, 24, 36,
                45, 48, 53]
nhs_list = [0, 1, 9]
rur_urb_list = [1, 2, 6, 8, 9]
func_sys_list = [1, 2, 3, 4, 5, 6, 7, 96, 98,
                99]
latitude_list = random.uniform(19.060100, 68.146761)
longitude_list = random.uniform(-170.514936, -67.380361)
harm_ev_list =[1, 2, 3, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15,
               16, 17, 18, 19, 20, 21, 23, 24, 25, 26, 30,
               31, 32, 33, 34, 35, 38, 39, 40, 41, 42, 43,
               44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 55,
               57, 58, 59, 72, 73, 74, 91, 93, 99]
mann_coll_list = [0, 1, 2, 6, 7, 8, 9, 10, 11, 98, 99]
reljct2_list = [1, 2, 3, 4, 5, 6, 7, 8, 16, 17, 18, 19, 20, 98, 99]
typ_int_list = [1, 2, 3, 4, 5, 6, 7, 10, 98, 99]
wrk_zone_list = [0, 1, 2, 3, 4]
lgt_cond_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
weather1_list = [1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 98, 99]
weather2_list = [0, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 98]
sch_bus_list = [0, 1]
cf1_list = [0, 1, 2, 3, 4, 5, 6, 21, 22, 28, 99]
cf2_list = [0, 2, 4, 16, 19, 20, 99]
cf3_list = [0, 99]



# print("latitude:", latitude)

# columns = ['VE_TOTAL', 'PERMVIT', 'NHS', 'RUR_URB', 'FUNC_SYS', 'LATITUDE',
#        'LONGITUD', 'HARM_EV', 'MAN_COLL', 'RELJCT2', 'TYP_INT', 'WRK_ZONE',
#        'LGT_COND', 'WEATHER1', 'WEATHER2', 'SCH_BUS', 'CF1', 'CF2',
#        'CF3']

### GENERATE DUMMY DATA BASED ON CHOSEN VARIABLES

In [35]:
rows = []

for _ in range(1000000):
    
    row = [random.choice(year_list),
           random.choice(permvit_list),
           random.choice(nhs_list),
           random.choice(rur_urb_list),
           random.choice(func_sys_list),
           random.choice(harm_ev_list),
           random.choice(mann_coll_list),
           random.choice(reljct2_list),
           random.choice(typ_int_list),
           random.choice(wrk_zone_list),
           random.choice(lgt_cond_list),
           random.choice(weather1_list),
           random.choice(weather2_list),
           random.choice(sch_bus_list),
           random.choice(cf1_list),
           random.choice(cf2_list),
           random.choice(cf3_list),
           random.uniform(19.060100, 68.146761),
           random.uniform(-170.514936, -67.380361)]
    rows.append(row)
df_dummy = pd.DataFrame(rows)
print(df_dummy.shape)
df_dummy.head(5)

(1000000, 19)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,2017,9,0,6,6,93,1,99,6,1,4,99,8,1,2,2,99,62.141843,-110.791135
1,2017,10,9,1,7,91,0,4,98,4,3,4,12,1,99,4,0,31.870696,-109.985314
2,2017,16,9,9,6,73,8,20,10,4,6,99,11,1,4,19,0,30.625372,-167.134938
3,2017,36,9,8,5,38,10,3,7,0,6,6,8,0,6,20,99,29.274862,-92.491947
4,2017,1,9,2,5,35,0,6,99,4,4,3,8,0,4,16,0,26.393122,-114.492470

In [36]:
dummy_dic = {
    0: 'YEAR',
    1: 'PERMVIT',
    2: 'NHS',
    3: 'RUR_URB',
    4: 'FUNC_SYS',
    5: 'HARM_EV',
    6: 'MAN_COLL',
    7: 'RELJCT2',
    8: 'TYP_INT',
    9: 'WRK_ZONE',
    10: 'LGT_COND',
    11: 'WEATHER1',
    12: 'WEATHER2',
    13: 'SCH_BUS',
    14: 'CF1',
    15: 'CF2',
    16: 'CF3',
    17: 'LATITUDE',
    18: 'LONGITUD'
}

In [37]:
df_dummy.rename(columns=dummy_dic, inplace=True)

In [38]:
df_dummy['ACCIDENTS'] = 0
df_all['ACCIDENTS'] = 0

In [39]:
df_dummy.isna().sum()

YEAR         0
PERMVIT      0
NHS          0
RUR_URB      0
FUNC_SYS     0
HARM_EV      0
MAN_COLL     0
RELJCT2      0
TYP_INT      0
WRK_ZONE     0
LGT_COND     0
WEATHER1     0
WEATHER2     0
SCH_BUS      0
CF1          0
CF2          0
CF3          0
LATITUDE     0
LONGITUD     0
ACCIDENTS    0
dtype: int64

In [40]:
df_dummy.describe()

,YEAR,PERMVIT,NHS,RUR_URB,FUNC_SYS,HARM_EV,MAN_COLL,RELJCT2,TYP_INT,WRK_ZONE,LGT_COND,WEATHER1,WEATHER2,SCH_BUS,CF1,CF2,CF3,LATITUDE,LONGITUD,ACCIDENTS
count,1000000.0,1000000.000000,1000000.00000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.000000,1000000.0
mean,2017.0,17.041402,3.33492,5.197254,32.071009,35.851131,22.807905,21.563023,23.465248,2.000556,5.000177,20.406151,13.844542,0.499904,17.357284,22.856977,49.534551,43.592009,-118.959467,0.0
std,0.0,13.897408,4.02929,3.187815,42.945192,23.764757,35.836618,30.881723,37.553793,1.414145,2.581119,33.371157,25.631743,0.500000,27.455655,32.012982,49.500013,14.165259,29.764110,0.0
min,2017.0,1.000000,0.00000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.060211,-170.514888,0.0
25%,2017.0,7.000000,0.00000,2.000000,3.000000,16.000000,2.000000,4.000000,3.000000,1.000000,3.000000,4.000000,4.000000,0.000000,2.000000,2.000000,0.000000,31.325097,-144.725239,0.0
50%,2017.0,13.000000,1.00000,6.000000,6.000000,34.000000,8.000000,8.000000,5.000000,2.000000,5.000000,7.000000,6.000000,0.000000,5.000000,16.000000,99.000000,43.572465,-118.939566,0.0
75%,2017.0,22.000000,9.00000,8.000000,96.000000,51.000000,11.000000,19.000000,10.000000,3.000000,7.000000,11.000000,11.000000,1.000000,22.000000,20.000000,99.000000,55.856298,-93.169787,0.0
max,2017.0,53.000000,9.00000,9.000000,99.000000,99.000000,99.000000,99.000000,99.000000,4.000000,9.000000,99.000000,98.000000,1.000000,99.000000,99.000000,99.000000,68.146692,-67.380378,0.0

In [41]:
df_dummy.shape

(1000000, 20)

In [42]:
df_all.shape

(101026, 28)

In [43]:
dropped = ['STATE','CITY','COUNTY', 'RAIL', 'VE_TOTAL', 'TWAY_ID', 'TWAY_ID2', 'ROUTE']

df_all = df_all.drop(columns=dropped)

In [44]:
df_all.shape

(101026, 20)

In [45]:
df_all = pd.concat([df_all, df_dummy])

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [46]:
typ_int1 = df_all[(df_all['TYP_INT'] >= 2) & (df_all['TYP_INT'] <= 10)]

In [47]:
typ_int1.shape

(725337, 20)

In [48]:
typ_int2 = typ_int1[typ_int1['CF1'] != 13]

In [49]:
typ_int2 = typ_int2[typ_int2['CF1'] != 14]
typ_int2 = typ_int2[typ_int2['CF1'] != 15]
typ_int2 = typ_int2[typ_int2['CF1'] != 16]
typ_int2 = typ_int2[typ_int2['CF1'] != 17]
typ_int2 = typ_int2[typ_int2['CF1'] != 18]
typ_int2 = typ_int2[typ_int2['CF1'] != 19]
typ_int2 = typ_int2[typ_int2['CF1'] != 20]
typ_int2 = typ_int2[typ_int2['CF1'] != 23]
typ_int2 = typ_int2[typ_int2['CF1'] != 24]
typ_int2 = typ_int2[typ_int2['CF1'] != 26]
typ_int2 = typ_int2[typ_int2['CF1'] != 27]

In [50]:
typ_int2['CF1'].value_counts()

0     86988
3     63942
5     63935
6     63904
4     63899
99    63846
22    63758
1     63622
28    63617
2     63463
21    63324
Name: CF1, dtype: int64

In [51]:
typ_int2.shape

(724298, 20)

In [52]:
typ_int2['CF1'].value_counts()

0     86988
3     63942
5     63935
6     63904
4     63899
99    63846
22    63758
1     63622
28    63617
2     63463
21    63324
Name: CF1, dtype: int64

In [53]:
df_all = typ_int2

In [54]:
df_all['MAN_COLL'].value_counts()

6     75682
0     72484
1     65326
2     64887
11    63913
8     63888
7     63829
9     63687
98    63599
99    63580
10    63423
Name: MAN_COLL, dtype: int64

In [55]:
df_all['YEAR'].value_counts()

2017    708585
2016      8136
2015      7577
Name: YEAR, dtype: int64

### FILTERING FOR VEHICLE-ON-VEHICLE COLLISIONS EXPLICITLY

In [56]:
man_coll1 = df_all[df_all['MAN_COLL'] != 0]

In [57]:
man_coll1.dtypes

ACCIDENTS      int64
CF1            int64
CF2            int64
CF3            int64
FUNC_SYS       int64
HARM_EV        int64
LATITUDE     float64
LGT_COND       int64
LONGITUD     float64
MAN_COLL       int64
NHS            int64
PERMVIT        int64
RELJCT2        int64
RUR_URB        int64
SCH_BUS        int64
TYP_INT        int64
WEATHER1       int64
WEATHER2       int64
WRK_ZONE       int64
YEAR           int64
dtype: object

In [58]:
man_coll1.NHS = man_coll1.NHS.astype(str)
man_coll1.RUR_URB = man_coll1.RUR_URB.astype(str)
man_coll1.FUNC_SYS = man_coll1.FUNC_SYS.astype(str)
man_coll1.HARM_EV = man_coll1.HARM_EV.astype(str)
man_coll1.MAN_COLL = man_coll1.MAN_COLL.astype(str)
man_coll1.RELJCT2 = man_coll1.RELJCT2.astype(str)
man_coll1.TYP_INT = man_coll1.TYP_INT.astype(str)
man_coll1.WRK_ZONE = man_coll1.WRK_ZONE.astype(str)
man_coll1.LGT_COND = man_coll1.LGT_COND.astype(str)
man_coll1.WEATHER1 = man_coll1.WEATHER1.astype(str)
man_coll1.WEATHER2 = man_coll1.WEATHER2.astype(str)
man_coll1.SCH_BUS = man_coll1.SCH_BUS.astype(str)
man_coll1.CF1 = man_coll1.CF1.astype(str)
man_coll1.CF2 = man_coll1.CF2.astype(str)
man_coll1.CF3 = man_coll1.CF3.astype(str)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:5096: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

In [59]:
man_coll1.shape

(651814, 20)

In [60]:
man_coll1.dtypes

ACCIDENTS      int64
CF1           object
CF2           object
CF3           object
FUNC_SYS      object
HARM_EV       object
LATITUDE     float64
LGT_COND      object
LONGITUD     float64
MAN_COLL      object
NHS           object
PERMVIT        int64
RELJCT2       object
RUR_URB       object
SCH_BUS       object
TYP_INT       object
WEATHER1      object
WEATHER2      object
WRK_ZONE      object
YEAR           int64
dtype: object

In [61]:
man_coll1['YEAR'].value_counts()

2017    641845
2016      5155
2015      4814
Name: YEAR, dtype: int64

In [62]:
# man_coll1['ACCIDENTS'] = 1

In [63]:
categorical_features = ['NHS', 'RUR_URB', 'FUNC_SYS', 'HARM_EV', 'MAN_COLL',
                        'RELJCT2', 'TYP_INT', 'WRK_ZONE', 'LGT_COND', 'WEATHER1',
                        'WEATHER2', 'SCH_BUS', 'CF1', 'CF2', 'CF3']

numeric_features = ['LATITUDE', 'LONGITUD']

# dropped = ['YEAR', 'ACCIDENTS','STATE','CITY','COUNTY', 'RAIL', 'VE_TOTAL', 'TWAY_ID', 'TWAY_ID2', 'ROUTE']

In [64]:
X_train = man_coll1[(man_coll1['YEAR'] >= 2015) & (man_coll1['YEAR'] <= 2016)]
man_coll2017 = man_coll1[(man_coll1['YEAR'] == 2017)]

In [65]:
# X_train = pd.concat([X_train, df_dummy])

In [66]:
man_coll1.isna().sum()

ACCIDENTS    0
CF1          0
CF2          0
CF3          0
FUNC_SYS     0
HARM_EV      0
LATITUDE     0
LGT_COND     0
LONGITUD     0
MAN_COLL     0
NHS          0
PERMVIT      0
RELJCT2      0
RUR_URB      0
SCH_BUS      0
TYP_INT      0
WEATHER1     0
WEATHER2     0
WRK_ZONE     0
YEAR         0
dtype: int64

In [67]:
df_dummy.isna().sum()

YEAR         0
PERMVIT      0
NHS          0
RUR_URB      0
FUNC_SYS     0
HARM_EV      0
MAN_COLL     0
RELJCT2      0
TYP_INT      0
WRK_ZONE     0
LGT_COND     0
WEATHER1     0
WEATHER2     0
SCH_BUS      0
CF1          0
CF2          0
CF3          0
LATITUDE     0
LONGITUD     0
ACCIDENTS    0
dtype: int64

In [68]:
X_test = man_coll2017

In [69]:
X_train.shape, X_test.shape

((9969, 20), (641845, 20))

In [70]:
y_train = X_train['ACCIDENTS']
y_test = X_test['ACCIDENTS']

In [71]:
X_train.shape

(9969, 20)

In [72]:
X_train.isna().sum()

ACCIDENTS    0
CF1          0
CF2          0
CF3          0
FUNC_SYS     0
HARM_EV      0
LATITUDE     0
LGT_COND     0
LONGITUD     0
MAN_COLL     0
NHS          0
PERMVIT      0
RELJCT2      0
RUR_URB      0
SCH_BUS      0
TYP_INT      0
WEATHER1     0
WEATHER2     0
WRK_ZONE     0
YEAR         0
dtype: int64

In [73]:
X_train.head()

,ACCIDENTS,CF1,CF2,CF3,FUNC_SYS,HARM_EV,LATITUDE,LGT_COND,LONGITUD,MAN_COLL,NHS,PERMVIT,RELJCT2,RUR_URB,SCH_BUS,TYP_INT,WEATHER1,WEATHER2,WRK_ZONE,YEAR
10,0,0,0,0,4,12,33.531136,1,-86.757786,2,0,2,3,2,0,2,1,0,0,2016
19,0,0,0,0,6,12,32.800489,2,-85.644958,6,0,8,2,1,0,2,2,0,0,2016
20,0,0,0,0,3,12,34.416869,1,-87.161528,6,1,3,2,1,0,2,1,0,0,2016
24,0,0,0,0,3,12,33.886472,2,-85.916733,6,1,4,2,1,0,2,5,0,0,2016
32,0,0,0,0,3,12,32.382603,1,-86.173397,2,0,3,2,2,0,2,10,0,0,2016

In [76]:
# dropped = ['YEAR', 'ACCIDENTS','STATE','CITY','COUNTY', 'RAIL', 'VE_TOTAL', 'TWAY_ID', 'TWAY_ID2', 'ROUTE']
dropped = ['YEAR', 'ACCIDENTS']

In [77]:
X_train = X_train.drop(columns=dropped)

In [78]:
X_test = X_test.drop(columns=dropped)

In [79]:
X_train.shape, X_test.shape

((9969, 18), (641845, 18))

In [80]:
features = categorical_features + numeric_features
features

['NHS',
 'RUR_URB',
 'FUNC_SYS',
 'HARM_EV',
 'MAN_COLL',
 'RELJCT2',
 'TYP_INT',
 'WRK_ZONE',
 'LGT_COND',
 'WEATHER1',
 'WEATHER2',
 'SCH_BUS',
 'CF1',
 'CF2',
 'CF3',
 'LATITUDE',
 'LONGITUD']

In [81]:
X_train_subset = X_train[features]
X_test_subset = X_test[features]

In [82]:
X_train_subset.shape, X_test_subset.shape

((9969, 17), (641845, 17))

In [83]:
X_train_subset.columns

Index(['NHS', 'RUR_URB', 'FUNC_SYS', 'HARM_EV', 'MAN_COLL', 'RELJCT2',
       'TYP_INT', 'WRK_ZONE', 'LGT_COND', 'WEATHER1', 'WEATHER2', 'SCH_BUS',
       'CF1', 'CF2', 'CF3', 'LATITUDE', 'LONGITUD'],
      dtype='object')

In [84]:
X_test_subset.columns

Index(['NHS', 'RUR_URB', 'FUNC_SYS', 'HARM_EV', 'MAN_COLL', 'RELJCT2',
       'TYP_INT', 'WRK_ZONE', 'LGT_COND', 'WEATHER1', 'WEATHER2', 'SCH_BUS',
       'CF1', 'CF2', 'CF3', 'LATITUDE', 'LONGITUD'],
      dtype='object')

In [85]:
encoder = ce.OneHotEncoder(use_cat_names=True)
X_train_encoded = encoder.fit_transform(X_train_subset)
X_test_encoded = encoder.transform(X_test_subset)

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train_encoded)
X_test_scaled = scaler.transform(X_test_encoded)

model = LinearRegression()
model.fit(X_train_scaled, y_train)

# model = LinearRegression()
# model.fit(X_train_encoded, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [86]:
print('Validation Accuracy', model.score(X_test_scaled, y_test))

Validation Accuracy 1.0

In [87]:
X_test_scaled.shape, y_test.shape

((641845, 95), (641845,))

In [88]:
X_train_encoded.shape

(9969, 95)

In [89]:
X_train_encoded.columns

Index(['NHS_0', 'NHS_1', 'NHS_9', 'RUR_URB_2', 'RUR_URB_1', 'RUR_URB_6',
       'RUR_URB_9', 'FUNC_SYS_4', 'FUNC_SYS_6', 'FUNC_SYS_3', 'FUNC_SYS_7',
       'FUNC_SYS_5', 'FUNC_SYS_1', 'FUNC_SYS_2', 'FUNC_SYS_96', 'FUNC_SYS_98',
       'FUNC_SYS_99', 'HARM_EV_12', 'HARM_EV_40', 'MAN_COLL_2', 'MAN_COLL_6',
       'MAN_COLL_1', 'MAN_COLL_99', 'MAN_COLL_8', 'MAN_COLL_7', 'MAN_COLL_9',
       'MAN_COLL_98', 'MAN_COLL_11', 'RELJCT2_3', 'RELJCT2_2', 'TYP_INT_2',
       'TYP_INT_3', 'TYP_INT_4', 'TYP_INT_7', 'TYP_INT_5', 'TYP_INT_6',
       'TYP_INT_10', 'WRK_ZONE_0', 'WRK_ZONE_4', 'WRK_ZONE_1', 'WRK_ZONE_2',
       'WRK_ZONE_3', 'LGT_COND_1', 'LGT_COND_2', 'LGT_COND_3', 'LGT_COND_4',
       'LGT_COND_5', 'LGT_COND_6', 'LGT_COND_9', 'LGT_COND_8', 'LGT_COND_7',
       'WEATHER1_1', 'WEATHER1_2', 'WEATHER1_5', 'WEATHER1_10', 'WEATHER1_98',
       'WEATHER1_7', 'WEATHER1_8', 'WEATHER1_4', 'WEATHER1_99', 'WEATHER1_3',
       'WEATHER1_6', 'WEATHER1_12', 'WEATHER1_11', 'WEATHER2_0', 'WEATHER2_2',
       'WEATHER2_10', 'WEATHER2_5', 'WEATHER2_6', 'WEATHER2_4', 'WEATHER2_11',
       'WEATHER2_3', 'WEATHER2_12', 'WEATHER2_1', 'WEATHER2_8', 'WEATHER2_7',
       'SCH_BUS_0', 'SCH_BUS_1', 'CF1_0', 'CF1_1', 'CF1_28', 'CF1_3', 'CF1_4',
       'CF1_21', 'CF1_99', 'CF1_22', 'CF1_2', 'CF1_6', 'CF2_0', 'CF2_4',
       'CF2_99', 'CF3_0', 'CF3_99', 'LATITUDE', 'LONGITUD'],
      dtype='object')

In [90]:
X_train_encoded.head()

,NHS_0,NHS_1,NHS_9,RUR_URB_2,RUR_URB_1,RUR_URB_6,RUR_URB_9,FUNC_SYS_4,FUNC_SYS_6,FUNC_SYS_3,FUNC_SYS_7,FUNC_SYS_5,FUNC_SYS_1,FUNC_SYS_2,FUNC_SYS_96,FUNC_SYS_98,FUNC_SYS_99,HARM_EV_12,HARM_EV_40,MAN_COLL_2,MAN_COLL_6,MAN_COLL_1,MAN_COLL_99,MAN_COLL_8,MAN_COLL_7,MAN_COLL_9,MAN_COLL_98,MAN_COLL_11,RELJCT2_3,RELJCT2_2,TYP_INT_2,TYP_INT_3,TYP_INT_4,TYP_INT_7,TYP_INT_5,TYP_INT_6,TYP_INT_10,WRK_ZONE_0,WRK_ZONE_4,WRK_ZONE_1,WRK_ZONE_2,WRK_ZONE_3,LGT_COND_1,LGT_COND_2,LGT_COND_3,LGT_COND_4,LGT_COND_5,LGT_COND_6,LGT_COND_9,LGT_COND_8,LGT_COND_7,WEATHER1_1,WEATHER1_2,WEATHER1_5,WEATHER1_10,WEATHER1_98,WEATHER1_7,WEATHER1_8,WEATHER1_4,WEATHER1_99,WEATHER1_3,WEATHER1_6,WEATHER1_12,WEATHER1_11,WEATHER2_0,WEATHER2_2,WEATHER2_10,WEATHER2_5,WEATHER2_6,WEATHER2_4,WEATHER2_11,WEATHER2_3,WEATHER2_12,WEATHER2_1,WEATHER2_8,WEATHER2_7,SCH_BUS_0,SCH_BUS_1,CF1_0,CF1_1,CF1_28,CF1_3,CF1_4,CF1_21,CF1_99,CF1_22,CF1_2,CF1_6,CF2_0,CF2_4,CF2_99,CF3_0,CF3_99,LATITUDE,LONGITUD
10,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,33.531136,-86.757786
19,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,32.800489,-85.644958
20,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,34.416869,-87.161528
24,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,33.886472,-85.916733
32,1,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,0,0,0,1,0,0,1,0,32.382603,-86.173397

In [91]:
X_train_encoded.describe()

,NHS_0,NHS_1,NHS_9,RUR_URB_2,RUR_URB_1,RUR_URB_6,RUR_URB_9,FUNC_SYS_4,FUNC_SYS_6,FUNC_SYS_3,FUNC_SYS_7,FUNC_SYS_5,FUNC_SYS_1,FUNC_SYS_2,FUNC_SYS_96,FUNC_SYS_98,FUNC_SYS_99,HARM_EV_12,HARM_EV_40,MAN_COLL_2,MAN_COLL_6,MAN_COLL_1,MAN_COLL_99,MAN_COLL_8,MAN_COLL_7,MAN_COLL_9,MAN_COLL_98,MAN_COLL_11,RELJCT2_3,RELJCT2_2,TYP_INT_2,TYP_INT_3,TYP_INT_4,TYP_INT_7,TYP_INT_5,TYP_INT_6,TYP_INT_10,WRK_ZONE_0,WRK_ZONE_4,WRK_ZONE_1,WRK_ZONE_2,WRK_ZONE_3,LGT_COND_1,LGT_COND_2,LGT_COND_3,LGT_COND_4,LGT_COND_5,LGT_COND_6,LGT_COND_9,LGT_COND_8,LGT_COND_7,WEATHER1_1,WEATHER1_2,WEATHER1_5,WEATHER1_10,WEATHER1_98,WEATHER1_7,WEATHER1_8,WEATHER1_4,WEATHER1_99,WEATHER1_3,WEATHER1_6,WEATHER1_12,WEATHER1_11,WEATHER2_0,WEATHER2_2,WEATHER2_10,WEATHER2_5,WEATHER2_6,WEATHER2_4,WEATHER2_11,WEATHER2_3,WEATHER2_12,WEATHER2_1,WEATHER2_8,WEATHER2_7,SCH_BUS_0,SCH_BUS_1,CF1_0,CF1_1,CF1_28,CF1_3,CF1_4,CF1_21,CF1_99,CF1_22,CF1_2,CF1_6,CF2_0,CF2_4,CF2_99,CF3_0,CF3_99,LATITUDE,LONGITUD
count,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000,9969.000000
mean,0.636272,0.362223,0.001505,0.606580,0.390009,0.002909,0.000502,0.248370,0.025379,0.451299,0.108536,0.129401,0.008225,0.023874,0.002909,0.000903,0.001103,0.999900,0.000100,0.089979,0.792657,0.088173,0.002809,0.006621,0.012940,0.001906,0.001605,0.003310,0.125790,0.874210,0.675494,0.301635,0.019460,0.002809,0.000100,0.000201,0.000301,0.988364,0.003310,0.007624,0.000401,0.000301,0.660548,0.108737,0.180058,0.017655,0.029190,0.002407,0.000702,0.000502,0.000201,0.762263,0.048651,0.010031,0.144347,0.026683,0.000401,0.000802,0.003912,0.001404,0.000802,0.000401,0.000201,0.000100,0.984151,0.001906,0.011536,0.000802,0.000100,0.000301,0.000502,0.000100,0.000201,0.000201,0.000100,0.000100,0.994383,0.005617,0.988665,0.000100,0.001806,0.000903,0.000201,0.000502,0.003611,0.004012,0.000100,0.000100,0.996288,0.000100,0.003611,0.996389,0.003611,36.445439,-91.479790
std,0.481096,0.480667,0.038763,0.488533,0.487776,0.053860,0.022391,0.432089,0.157280,0.497648,0.311072,0.335660,0.090325,0.152664,0.053860,0.030035,0.033201,0.010016,0.010016,0.286166,0.405424,0.283561,0.052925,0.081101,0.113022,0.043617,0.040032,0.057442,0.331629,0.331629,0.468213,0.458991,0.138143,0.052925,0.010016,0.014163,0.017346,0.107247,0.057442,0.086984,0.020028,0.017346,0.473547,0.311325,0.384255,0.131700,0.168349,0.049009,0.026491,0.022391,0.014163,0.425719,0.215148,0.099657,0.351459,0.161163,0.020028,0.028318,0.062428,0.037450,0.028318,0.020028,0.014163,0.010016,0.124898,0.043617,0.106789,0.028318,0.010016,0.017346,0.022391,0.010016,0.014163,0.014163,0.010016,0.010016,0.074742,0.074742,0.105867,0.010016,0.042456,0.030035,0.014163,0.022391,0.059988,0.063220,0.010016,0.010016,0.060812,0.010016,0.059988,0.059988,0.059988,5.329775,14.085558
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,19.440247,-159.689814
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,32.943261,-97.413378
50%,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,36.259383,-86.878583
75%,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,40.683100,-81.563708
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,64.846750,-68.007456

In [92]:
X_train_subset.columns

Index(['NHS', 'RUR_URB', 'FUNC_SYS', 'HARM_EV', 'MAN_COLL', 'RELJCT2',
       'TYP_INT', 'WRK_ZONE', 'LGT_COND', 'WEATHER1', 'WEATHER2', 'SCH_BUS',
       'CF1', 'CF2', 'CF3', 'LATITUDE', 'LONGITUD'],
      dtype='object')

In [95]:
import eli5
from eli5.sklearn import PermutationImportance
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1)
model.fit(X_train, y_train)

permuter = PermutationImportance(
    model, scoring='accuracy', n_iter=2, random_state=42
)

permuter.fit(X_test, y_test)
feature_names = X_test.columns.tolist()
eli5.show_weights(
    permuter,
    top=None,
    feature_names = feature_names
)

C:\ProgramData\Anaconda3\lib\site-packages\eli5\formatters\html.py:235: RuntimeWarning: invalid value encountered in double_scalars
  rel_weight = (abs(weight) / weight_range) ** 0.7

In [98]:
from sklearn.metrics import confusion_matrix
from sklearn.utils.multiclass import unique_labels
from sklearn.pipeline import make_pipeline

pipeline = make_pipeline(
    RandomForestClassifier(n_estimators=100, random_state=42, n_jobs=-1)
)

pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)

confusion_matrix(y_test, y_pred)

array([[641845]], dtype=int64)